body {
  padding: 20px;
  font-family: Helvetica;
}

.item {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 20px;
}

.box {
  background-color: #20262e;
  color: #fff;
  border-radius: 3px;
  padding: 20px;
  font-size: 14px;
  text-align: center;
}
